<div ng-if = "$parent.register == 'undefined'" class = "col-sm-8 col-sm-offset-2">
    <h1><span>Restaurant managers</span></h1>
    <table class="table table-bordered">
        <tr>
        <th>Name</th>
        <th>Surname</th> 
        <th>Email</th>
        <th>Restaurant</th>            

        </tr>
        <tr ng-repeat="user in $parent.restaurantManagers">
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.restaurant.id}}</td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary" ng-click="registration()">Register new</button>
</div>
<div  class = "col-sm-4 col-sm-offset-4 center" ng-if = "$parent.register == 'register'">
    <form name="user1">
        <h1><span>Registration: </span></h1>
        <label>Name: </label>
        <input name="name" type="text" onkeydown="checkInputText()" ng-model="restaurantManager.name" class="form-control" required/>

        <label>Surname: </label>
        <input name="surname" type="text" onkeydown="checkInputText()" ng-model="restaurantManager.surname" class="form-control" required/>

        <label>Email: </label>
        <input name="email" type="email"  ng-model="restaurantManager.email" class="form-control" required/>

        <label>Password: </label>
        <input name="password" type="password" ng-model="restaurantManager.password" class="form-control" required/>

        <label>Repeat password: </label>
        <input name="repeatedPassword" type="password" ng-model="restaurantManager.repeatedPassword" class="form-control" required/>

        <label>Restaurant: </label>
        <select name = "select" class="form-control" ng-model="restaurantManager.restaurant" required>
           <option value = "">Select restaurant</option>
           <option ng-repeat="restaurant in restaurantsWihoutManagers" value="{{restaurant.id}}">
               {{restaurant.id}}
           </option>
        </select>

        <br><br>
        <button type = "submit"class="btn btn-primary" ng-click="user1.$valid && signUp('restaurantManager')">Register</button>
    </form>
</div>