<div ng-if = "$parent.register == 'undefined'"  class = "col-sm-8 col-sm-offset-2">
    <h1><span>System managers</span></h1>
    <table class="table table-bordered">
        <tr>
        <th>Name</th>
        <th>Surname</th> 
        <th>Email</th>

        </tr>
        <tr ng-repeat="user in $parent.systemManagers" >
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}}</td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary" ng-click="registration()">Register new</button>
</div>
<div  class = "col-sm-4 col-sm-offset-4" ng-if = "$parent.register == 'register'">
        <form name="user1">
            <h1><span>Registration: </span></h1>
            <label>Name: </label>
            <input name="name" type="text" ng-model="systemManager.name" class="form-control" required/>

            <label>Surname: </label>
            <input  name="surname" type="text" ng-model="systemManager.surname" class="form-control" required/>

            <label>Email: </label>
            <input name="email" type="email" ng-model="systemManager.email" class="form-control" 
            oninvalid="this.setCustomValidity('Please enter an valid email address.')" oninput="setCustomValidity('')" required/>

            <label>Password: </label>
            <input name="password" type="password" ng-model="systemManager.password" class="form-control" required/>

            <label>Repeat password: </label>
            <input name="repeatedPassword" type="password" ng-model="systemManager.repeatedPassword" class="form-control" required/>
            
            <br><br>

            <div class="button">
                <button type="submit" class="btn btn-primary" ng-click="user1.$valid && signUp('systemManager')">Register</button>
            </div>
        </form>
</div>