<div  class = "col-sm-4 col-sm-offset-4">
    <form name="user1">

        <label>Name: </label>
        <input name="name" type="text" onkeydown="checkInputText()" ng-model="$parent.user.name" class="form-control" required/>

        <label>Surname: </label>
        <input  name="surname" type="text" onkeydown="checkInputText()" ng-model="$parent.user.surname" class="form-control" required/>

        <label>Email: </label>
        <input name="email" type="text" ng-model="$parent.user.email" class="form-control" required/>

        <label>Password: </label>
        <input name="password" type="password" ng-model="$parent.user.password" class="form-control" required/>

        <br><br>

        <div class="button">
            <button type="submit" class="btn btn-primary" ng-click="user1.$valid && $parent.update()"><span class="glyphicon glyphicon-ok"></span> Update</button>
        </div>
    </form>
</div>