<div>
		<form name="user">
			<div class="col-sm-8">
				<h3>Change your password</h3>
				<br>
				<p>Email:</p>
				<input name="user.email" type="text" ng-model=$parent.user.email class="form-control" required disabled/>
				
				<p>Password:</p>
				<input name="user.password" type="password" ng-model=$parent.user.password class="form-control" required/>
				
				<p>Repeat Password:</p>
				<input type name="user.repeatedPassword" type="password" ng-model=$parent.repeatedPassword class="form-control" required/>
			</div>
		</form>
		
</div>