<div>
	<div ng-show="$parent.reservationOrder.restaurant.drinks.length>0">
		<br>
		<table class="table table-bordered sortable">
		  <tr>
		    <th ng-click="$parent.sortType = 'name'; $parent.sortReverse = !$parent.sortReverse">Name
		    	<span ng-show="$parent.sortType == 'name' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'name' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th ng-click="$parent.sortType = 'description'; $parent.sortReverse = !$parent.sortReverse">Description
		    	<span ng-show="$parent.sortType == 'description' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'description' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th ng-click="$parent.sortType = 'price'; $parent.sortReverse = !$parent.sortReverse">Price
		    	<span ng-show="$parent.sortType == 'price' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'price' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th>Order</th>
		  </tr>
		  <tr ng-repeat="drink in $parent.reservationOrder.restaurant.drinks | orderBy:sortType:sortReverse">
		    <td>{{drink.name}}</td>
		    <td>{{drink.description}}</td>
		    <td>{{drink.price}}</td>
		    <td><button type="button" class="btn btn-primary" ng-click="addDrink(drink)">
		    	<span class="glyphicon glyphicon-ok"></span></button></td>
		  </tr>
		</table>
	</div>
	
	<div ng-show="$parent.reservationOrder.restaurant.drinks.length==0">
		<h3>There are no drinks.</h3>
	</div>
</div>