<div>

	<div ng-show="user.friendRequests.length>0">
		<div class = "col-sm-8">
			<h3>Friend requests:</h3><br>
			<table class="table table-bordered">
			  <tr>
			    <th ng-click="$parent.sortType = 'name'; $parent.sortReverse = !$parent.sortReverse">Name
			    	<span ng-show="$parent.sortType == 'name' && !$parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-down"></span>
		            <span ng-show="$parent.sortType == 'name' && $parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-up"></span>
			    </th>
			    <th ng-click="$parent.sortType = 'surname'; $parent.sortReverse = !$parent.sortReverse">Surname
			    	<span ng-show="$parent.sortType == 'surname' && !$parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-down"></span>
		            <span ng-show="$parent.sortType == 'surname' && $parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-up"></span>
			    </th> 
			    <th ng-click="$parent.sortType = 'email'; $parent.sortReverse = !$parent.sortReverse">Email
			    	<span ng-show="$parent.sortType == 'email' && !$parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-down"></span>
		            <span ng-show="$parent.sortType == 'email' && $parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-up"></span>
			    </th>
			    <th>Accept</th>
			    <th>Reject</th>
			  </tr>
			  <tr ng-repeat="request in user.friendRequests | orderBy:sortType:sortReverse" >
			    <td>{{request.name}}</td>
			    <td>{{request.surname}}</td>
			    <td>{{request.email}}</td>
			    <td><button type="button" class="btn btn-primary" ng-click="acceptRequest(request)">Accept</button></td>
			    <td><button type="button" class="btn btn-primary" ng-click="deleteRequest(request)">X</button></td>
			  </tr>
			</table>
		</div>
	</div>


	<div class = "col-sm-8" ng-show="$parent.friends.length>0">
		<h3>Friends:</h3>
		<br>
		<table class="table table-bordered sortable">
		  <tr>
		    <th ng-click="$parent.sortType = 'name'; $parent.sortReverse = !$parent.sortReverse">Name
		    	<span ng-show="$parent.sortType == 'name' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'name' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th ng-click="$parent.sortType = 'surname'; $parent.sortReverse = !$parent.sortReverse">Surname
		    	<span ng-show="$parent.sortType == 'surname' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'surname' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th> 
		    <th ng-click="$parent.sortType = 'email'; $parent.sortReverse = !$parent.sortReverse">Email
		    	<span ng-show="$parent.sortType == 'email' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'email' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th>Delete friend</th>
		  </tr>
		  <tr ng-repeat="friend in $parent.friends | orderBy:sortType:sortReverse">
		    <td>{{friend.name}}</td>
		    <td>{{friend.surname}}</td>
		    <td>{{friend.email}}</td>
		    <td><button type="button" class="btn btn-primary" ng-click="deleteFriend(friend)">X</button></td>
		  </tr>
		</table>
	</div>
	
	<div class = "col-sm-3">
		<h3>Add friend:</h3>
		<br>
		<input type="text" list="friends" class="form-control" placeholder="search" ng-model="$parent.friend.email"/>
		<datalist id="friends">
		    <option ng-if="guest.email!=user.email" ng-repeat="guest in guests"
		            value="{{guest.email}}">{{guest.name}} {{guest.surname}}</option>
		</datalist>
	</div>
	
	<div class = "col-sm-2">
		<br><br>
		<div class="button">
			<button type="button" class="btn btn-primary" ng-click="addFriend()">Add Friend</button>
		</div>	
	</div>
	

</div>