 <div>
	 <div ng-show="user.email!=undefined">
	 
	 	<div class="centered" ng-show="showInvitation==false">
	 		<br><br>
	 		<label>Password: </label>
			<input name="password" type="text" ng-model="password" class="form-control" required/>
			<br>
			<button type="button" class="btn btn-primary" ng-click="checkPassword()">Next</button>
			
	 	</div>
	 	
	 	<div ng-show="showInvitation==true">
		 	<h1>Invitation to restaurant:</h1>
		 	
		 	<div class="centered">
				<br><br>
				<label>You have been invited to restaurant: {{reservation.restaurant.name}}</label>
				<label>from friend: {{reservation.guests[0].name}} {{reservation.guests[0].surname}}.</label>
				<label>Date and time: {{reservation.arrival}}</label>
				<label ng-show="reservation.duration!=null">Duration: {{reservation.duration}}</label>
				
		 	</div>
		 	
		 	<div class="button">
		 		<br>
				<button type="button" class="btn btn-primary" ng-click="accept()">Accept</button>
				<button type="button" class="btn btn-primary" ng-click="reject()">Reject</button>
			</div>
		</div>
	</div>
	<div ng-show="user.email==undefined">
		<h1>No invitations.</h1>
	<div>
	
	</div>
</div>