<div class = "centered2" ng-show="$parent.reservationOrder.id!=undefined">
	<div ng-show="$parent.usersOrders.food.length>0">
		<h3>Ordered food:</h3>
		<table class="table table-bordered sortable">
		  <tr>
		    <th ng-click="$parent.sortType = 'food.name'; $parent.sortReverse = !$parent.sortReverse">Name
		    	<span ng-show="$parent.sortType == 'food.name' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'food.name' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>		
		    </th>
		    <th ng-click="$parent.sortType = 'food.description'; $parent.sortReverse = !$parent.sortReverse">Description
		    	<span ng-show="$parent.sortType == 'food.description' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'food.description' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th ng-click="$parent.sortType = 'food.quantity'; $parent.sortReverse = !$parent.sortReverse">Quantity
		    	<span ng-show="$parent.sortType == 'food.quantity' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'food.quantity' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th ng-click="$parent.sortType = 'food.price'; $parent.sortReverse = !$parent.sortReverse">Price
		    	<span ng-show="$parent.sortType == 'food.price' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'food.price' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th ng-click="$parent.sortType = 'foodStatus'; $parent.sortReverse = !$parent.sortReverse">Food status
		    	<span ng-show="$parent.sortType == 'foodStatus' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'foodStatus' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		  </tr>
		  <tr ng-repeat="food in $parent.usersOrders.food | orderBy:sortType:sortReverse">
		    <td>{{food.food.name}}</td>
		    <td>{{food.food.description}}</td>
		    <td>{{food.quantity}}</td>
		    <td>{{food.food.price}}</td>
		    <td ng-show="$parent.notChangeable.indexOf($parent.reservationOrder.id)==-1
		    	&& food.foodStatus=='WAITING'">
		    	<button type="button" class="btn btn-primary" 
			    	ng-click="cancelFood(food)">Cancel</button>
			</td>
			<td ng-show="$parent.notChangeable.indexOf($parent.reservationOrder.id)!=-1
		    	&& food.foodStatus=='WAITING'">
		    	in preparation
		    </td>
			<td ng-show="food.foodStatus=='ACCEPTED'">
		    	in preparation
			</td>
			<td ng-show="food.foodStatus=='PREPARED'">
		    	is prepared
			</td>
			<td ng-show="food.foodStatus=='REJECTED'">
		    	rejected
			</td>
		  </tr>
		</table>
		<br>
	</div>
	
	<div ng-show="$parent.usersOrders.drinks.length>0">
		<h3>Ordered drinks:</h3>
		<table class="table table-bordered sortable">
		  <tr>
		    <th ng-click="$parent.sortType = 'drink.name'; $parent.sortReverse = !$parent.sortReverse">Name
		    	<span ng-show="$parent.sortType == 'drink.name' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'drink.name' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th ng-click="$parent.sortType = 'drink.description'; $parent.sortReverse = !$parent.sortReverse">Description
		    	<span ng-show="$parent.sortType == 'drink.description' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'drink.description' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th ng-click="$parent.sortType = 'drink.quantity'; $parent.sortReverse = !$parent.sortReverse">Quantity
		    	<span ng-show="$parent.sortType == 'drink.quantity' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'drink.quantity' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th ng-click="$parent.sortType = 'drink.price'; $parent.sortReverse = !$parent.sortReverse">Price
		    	<span ng-show="$parent.sortType == 'drink.price' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'drink.price' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		    <th ng-click="$parent.sortType = 'foodStatus'; $parent.sortReverse = !$parent.sortReverse">Drink status
		    	<span ng-show="$parent.sortType == 'foodStatus' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'foodStatus' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
		    </th>
		  </tr>
		  <tr ng-repeat="drink in $parent.usersOrders.drinks | orderBy:sortType:sortReverse">
		    <td>{{drink.drink.name}}</td>
		    <td>{{drink.drink.description}}</td>
		    <td>{{drink.quantity}}</td>
		    <td>{{drink.drink.price}}</td>
		    <td ng-show="$parent.notChangeable.indexOf($parent.reservationOrder.id)==-1
		    	&& drink.foodStatus=='WAITING'">
		    	<button	type="button" class="btn btn-primary" 
			    	ng-click="cancelDrink(drink)">Cancel</button></td>
			<td ng-show="$parent.notChangeable.indexOf($parent.reservationOrder.id)!=-1
		    	&& drink.foodStatus=='WAITING'">
		    	in preparation
		    </td>
			<td ng-show="drink.foodStatus=='ACCEPTED'">
		    	in preparation
			</td>
			<td ng-show="drink.foodStatus=='PREPARED'">
		    	is prepared
			</td>
			<td ng-show="drink.foodStatus=='REJECTED'">
		    	rejected
			</td>
		  </tr>
		</table>
		<br>
	</div>
	
	<div ng-show="$parent.usersOrders.drinks.length==0 && $parent.usersOrders.food.length==0">
		<h3>You haven't ordered anything yet.</h3>
		<br>
	</div>
</div>