<div data-ng-init="checkTimeAndDate()">

		<div class = "col-sm-8" 
			ng-show="$parent.futureReservations.length>0 && $parent.reservationOrder.id==undefined">
			<h3>Reservations:</h3>
			<br>
			<table class="table table-bordered sortable">
			  <tr>
			    <th ng-click="$parent.sortType = 'restaurant.name'; $parent.sortReverse = !$parent.sortReverse">Restaurant name
			    	<span ng-show="$parent.sortType == 'restaurant.name' && !$parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-down"></span>
		            <span ng-show="$parent.sortType == 'restaurant.name' && $parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-up"></span>
			    </th>
			    <th ng-click="$parent.sortType = 'restaurant.description'; $parent.sortReverse = !$parent.sortReverse">Restaurant description
			    	<span ng-show="$parent.sortType == 'restaurant.description' && !$parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-down"></span>
		            <span ng-show="$parent.sortType == 'restaurant.description' && $parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-up"></span>
			    </th>
			    <th ng-click="$parent.sortType = 'arrival'; $parent.sortReverse = !$parent.sortReverse">Arrival date
				    <span ng-show="$parent.sortType == 'arrival' && !$parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-down"></span>
		            <span ng-show="$parent.sortType == 'arrival' && $parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-up"></span>
			    </th>
			    <th ng-click="$parent.sortType = 'arrivalTime'; $parent.sortReverse = !$parent.sortReverse">Arrival time
			    	<span ng-show="$parent.sortType == 'arrivalTime' && !$parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-down"></span>
		            <span ng-show="$parent.sortType == 'arrivalTime' && $parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-up"></span>
			    </th>
			    <th ng-click="$parent.sortType = 'duration'; $parent.sortReverse = !$parent.sortReverse">Duration
			    	<span ng-show="$parent.sortType == 'duration' && !$parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-down"></span>
		            <span ng-show="$parent.sortType == 'duration' && $parent.sortReverse" 
		            	class="glyphicon glyphicon-chevron-up"></span>
			    </th>
			    <th>Friends</th>
			    <th>Order</th>
			    <th>Cancel</th>
			  </tr>
			  <tr ng-repeat="reservation in $parent.futureReservations | orderBy:sortType:sortReverse">
			    <td>{{reservation.restaurant.name}}</td>
			    <td>{{reservation.restaurant.description}}</td>
			    <td>{{reservation.arrival}}</td>
			    <td>{{reservation.arrivalTime}}</td>
			    <td>{{reservation.duration}}</td>
			    <td>
			    	<p ng-repeat="guest in reservation.guests"
			    		ng-show="guest.email!=$parent.user.email">{{guest.name}} {{guest.surname}}</p>
			    </td>
			    <td><button type="button" class="btn btn-primary" ng-click="order(reservation)">Order</button></td>
			    <td><button ng-show="$parent.notChangeable.indexOf(reservation.id)==-1"
			    	type="button" class="btn btn-primary" 
			    	ng-click="cancelReservation(reservation)">Cancel</button></td>
			  </tr>
			</table>
		</div>
		
		<div class = "col-sm-8" 
			ng-show="$parent.futureReservations.length==0">
			<h3>There are no reservations.</h3>
		</div>
		
		
		<div class = "col-sm-8" ng-show="$parent.reservationOrder.id!=undefined">
			<button type="button" class="btn btn-primary" ng-click="cancel()">
				<span class="glyphicon glyphicon-arrow-left"></span> Back</button>
			<br><br>
			<h3>Order:</h3>
			<br>
			<p>Restaurant: {{$parent.reservationOrder.restaurant.name}}</p>
			<p>Date and time: {{$parent.reservationOrder.arrival}} {{$parent.reservationOrder.arrivalTime}}</p>
			
			<br><br>
			<div class="centered">
				<div class="navbar navbar-inverse">
				    <div class="container-fluid"> 
						<ul class="nav navbar-nav">
				            <li><a ui-sref=".ordered">Ordered</a></li>
				            <li><a ui-sref=".food">Food</a></li>
				            <li><a ui-sref=".drink">Drink</a></li>
		        		</ul>
		        	</div>
				</div>
			</div>
			
			<div>
			    <div ui-view></div>
			</div>
		</div>

	
</div>

