<div>

	<div class = "col-sm-8">
		<h3>Restaurants:</h3>
		<br>
		<table class="table table-bordered sortable">
		  <tr>
		    <th>Name</th>
		    <th>Description</th>
		    <th>Reiting</th> 
		    <th>Friends reiting</th>
		    <th>Reservation</th>
		  </tr>
		  <tr ng-repeat="restaurant in $parent.copyOfRestaurants">
		    <td>{{restaurant.name}}</td>
		    <td>{{restaurant.description}}</td>
		    <td>{{restaurant.reitingStars}}</td>
		    <td>{{restaurant.friendsReitingStars}}</td>
		    <td><button type="button" class="btn btn-primary" ng-click="reserve(restaurant)">Reserve</button></td>
		  </tr>
		</table>
	</div>
	
	<div class = "col-sm-3">
		<br><br><br>
		<input type="search" class="form-control" placeholder="search" ng-model="$parent.search"/>
	</div>
	
	<div class = "col-sm-2">
		<br>
		<div class="button">
			<button type="button" class="btn btn-primary" ng-click="searchRestaurants()">Search</button>
		</div>	
	</div>

</div>