<div>

	<div class = "col-sm-8" ng-show="$parent.visitedRestaurants.length>0">
		<h3>Visited restaurants:</h3>
		<br>
		<table class="table table-bordered sortable">
		  <tr>
		    <th ng-click="$parent.sortType = 'restaurant.name'; $parent.sortReverse = !$parent.sortReverse">Name
	            <span ng-show="$parent.sortType == 'restaurant.name' && !$parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'restaurant.name' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
	        </th>
		    <th ng-click="$parent.sortType = 'arrival'; $parent.sortReverse = !$parent.sortReverse">Date
		        <span ng-show="$parent.sortType == 'arrival' && !$parent.sortReverse" 
		        	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'arrival' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
	        </th>
		    <th  ng-click="$parent.sortType = 'restaurant.reitingStars'; $parent.sortReverse = !$parent.sortReverse">Reiting
		    	<span ng-show="$parent.sortType == 'restaurant.reitingStars' && !$parent.sortReverse" 
		        	class="glyphicon glyphicon-chevron-down"></span>
	            <span ng-show="$parent.sortType == 'restaurant.reitingStars' && $parent.sortReverse" 
	            	class="glyphicon glyphicon-chevron-up"></span>
	        </th>
		    <th>Friends</th>
		  </tr>
		  <tr ng-repeat="restaurant in $parent.visitedRestaurants | orderBy:sortType:sortReverse">
		    <td>{{restaurant.restaurant.name}}</td>
		    <td>{{restaurant.arrival}}</td>
		    <td>{{restaurant.restaurant.reitingStars}}</td>
		    <td><label style='background-color: initial' 
		    			ng-repeat="friend in restaurant.friends">{{friend.name}}&nbsp;</label></td>
		  </tr>
		</table>
	</div>

	<div class = "col-sm-8" ng-show="$parent.visitedRestaurants.length==0">
		<h3>You haven't visited any restaurant.</h3>
	</div>
</div>