<div ng-if = "state == 'undefined'" class = "col-sm-8 col-sm-offset-2 center">
    <table class="table table-bordered">
        <caption>Cooks</caption>
        <tr>
            <th>Email</th>
            <th>Name</th> 
            <th>Surname</th>
            <th>Birth date</th>
            <th>Dress size</th> 
            <th>Shoes size</th>
            <th>Working schedule</th>
        </tr>
        <tr ng-repeat="cook in cooks">
            <td>{{cook.email}}</td>
            <td>{{cook.name}}</td>
            <td>{{cook.surname}}</td>
            <td>{{cook.dateOfBirth}}</td>
            <td>{{cook.dressSize}}</td>
            <td>{{cook.shoesSize}}</td>
            <td><button ng-click = 'workSchedule(cook)' class = "btn btn-primary">View</button></td>
        </tr>
    </table>
    <button ng-click = 'addCook()' class = "btn btn-primary ">Add cook</button>
</div>
<div ng-if = "state == 'schedule'" class = "col-sm-8 col-sm-offset-2 center">    
    <br/>
    <table class="table table-bordered">
        <caption>Working schedule for cook: {{cook.email}}</caption>
        <tr>
            <th>Start date</th>
            <th>End date</th> 
            <th>Time</th>
            <th colspan = "2">Operation</th>
        </tr>        
        <tr ng-repeat="shift in cook.shifts">
            <td>{{shift.startDate}}</td>
            <td>{{shift.endDate}}</td>
            <td>{{shift.beginOfShift}} - {{shift.endOfShift}}</td>
            <td><button ng-click = 'editShift(shift)' class = "btn btn-primary">Edit</button></td>
            <td><button ng-disabled = "flag" ng-click = 'deleteShift(shift)' class = "btn btn-primary">Delete</button></td>
        </tr>
    </table>  
    <button ng-click = 'shift()' class = "btn btn-primary">New shift</button>
    <button ng-click = 'exitSchedule()' class = "btn btn-primary">Back</button>
</div>

<div class = "col-sm-6 col-sm-offset-3" ng-if = "state=='shift'">
    <div rg-range-picker="myDatetimeRange" labels="myDatetimeLabels">
    </div>
    <div class = "center">
        <br/>
        <button ng-click = 'addShift()' ng-disabled = "flag" class = "btn btn-primary">Create shift</button>
        <button ng-click = 'exitAddShift()' class = "btn btn-primary">Back</button>
    </div>
</div>
<div ng-if = "state == 'newCook'" class = "col-sm-4 col-sm-offset-4 center">
        <form name="cookForm">
            <br/>            
            <label>Email: </label>
			<input name="cookForm.email" type="email" ng-model="cook.email" class="form-control" required/>
	
			<label>Password: </label>
			<input type="{{inputType}}" ng-model="cook.password" class="form-control" />
            <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" reqiured/>
            <label class = "profilLabel" ng-if="passwordCheckbox">Hide password</label>
            <label class = "profilLabel" ng-if="!passwordCheckbox">Show password</label> 
            <br/><br/>
            			
            <label>Name: </label>
			<input name="cookForm.name" type="text" onkeydown="checkInputText()"  ng-model="cook.name" class="form-control" reqiured/>
            
            <label>Surname: </label>
			<input name="cookForm.surname" type="text" onkeydown="checkInputTextNumber()"  ng-model="cook.surname" class="form-control" reqiured/>
            
			<label>Birth Date: </label>
            <br/>
            <dp ng-model="cook.dateOfBirth"></dp>
            <br/>
           
            <label>Dress size: </label>
			<input name="cookForm.dressSize" type="text" onkeydown="checkInputSize()"  ng-model="cook.dressSize" class="form-control" reqiured/>
	
			<label>Shoes size: </label>
			<input name="cookForm.shoesSize" type="text" onkeydown="checkInputSize()" ng-model="cook.shoesSize" class="form-control" reqiured/>
        <br><br>

        <div class="button">
            <button type="submit" class="btn btn-primary" ng-disabled = "flag" ng-click="create()"><span class="glyphicon glyphicon-ok"></span> Register</button>
            <button class="btn btn-primary" ng-click="exitSchedule()">Cancel</button>
        </div>
    </form>
</div>
