<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" >Restaurant
                <span class="caret"></span></a>
                <ul class="dropdown-menu inverse-dropdown">
                    <li><button class = "inverse-dropdown" ui-sref=".restaurant">About</button></li>
                    <li><button class = "inverse-dropdown" ng-click="restaurantOpen()" ui-sref=".menu">Menu</button></li>
                    <li><button class = "inverse-dropdown" ng-click="restaurantOpen()" ui-sref=".drinks">Drink</button></li>
                    <li><button class = "inverse-dropdown" ng-click="restaurantOpen()" ui-sref=".tables">Tables</button></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" >Workers
                <span class="caret"></span></a>
                <ul class="dropdown-menu inverse-dropdown">
                    <li><button class = "inverse-dropdown" ui-sref=".waiters">Waiters</button></li>
                    <li><button class = "inverse-dropdown" ui-sref=".bartenders">Bartenders</button></li>
                    <li><button class = "inverse-dropdown" ui-sref=".cooks">Cooks</button></li>
                </ul>
            </li>
            <li><a ui-sref=".bidders">Bidders</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" >Groceries
                <span class="caret"></span></a>
                <ul class="dropdown-menu inverse-dropdown">
                    <li><button class = "inverse-dropdown" ui-sref=".groceries">List</button></li>                    
                    <li><button class = "inverse-dropdown" ui-sref=".pastPurchases">Past purchases</button></li>
                </ul>
            </li>                    
            <li><a ui-sref=".reports">Reports</a></li>
          
        </ul>
        
        <ul class="nav navbar-nav pull-right">
            <li><a ui-sref=".userProfile" ><span class="glyphicon glyphicon-user"></span> {{user.email}}</a></li>
            <li><a ui-sref="login"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
        </ul> 
        
    </div>
</nav>
    <div ui-view></div>