<div class="col-sm-4 col-sm-offset-4 center">
    <form name="restaurant1">

        <label>Name: </label>
        <input name="restaurant.name" type="text" onkeydown="checkInputText()"  ng-model="$parent.user.restaurant.name" class="form-control" required/>

        <label>Description: </label>
        <input  name="restaurant.description" type="textarea" onkeydown="checkInputTextNumber()" ng-model="$parent.user.restaurant.description" class="form-control" required/>
        
        <label>Address: </label>
        <input  name="restaurant.address" type="textarea" onkeydown="checkInputTextNumber()" ng-model="$parent.user.restaurant.address" class="form-control" required/>
        <br><br>

        <div class="button">
            <button type="submit" class="btn btn-primary" ng-click="restaurant1.$valid && $parent.updateAbout()"><span class="glyphicon glyphicon-ok"></span> Update</button>
        </div>
    </form>
</div>
<div ui-view></div>