<div>
		<form name="copyOfUser">
			<div class="col-sm-8">
				<h3>Change your password</h3>
				<br>
				<p>Email:</p>
				<input name="copyOfUser.email" type="text" ng-model=$parent.user.email class="form-control" required disabled/>
				
				<p>Password:</p>
				<input name="copyOfUser.password" type="password" ng-model=$parent.copyOfUser.password class="form-control" required/>
				
				<p>Repeat Password:</p>
				<input type name="copyOfUser.repeatedPassword" type="password" ng-model=$parent.copyOfUser.repeatedPassword class="form-control" required/>
				<br>
				<div class="button">
				<button type="submit" class="btn btn-primary" ng-click="copyOfUser.$valid && changePassword()">Update</button>
				</div>
			</div>
		</form>
		
</div>