.bg{
	background: url(images/restaurant.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:white;
	padding-left: 40px;
	padding-top: 10px;
	color: white;
}

.centered
{
    width:300px;
    margin-right:auto;
    margin-left:auto;
}

.centered2
{
    width:600px;
    margin-right:auto;
    margin-left:auto;
}

.buttonsRight{
    width:150px;
    margin-left:auto;
}

h1, .button{
	text-align: center;
}

h1{
	padding-top: 20px;
}

input { 
    background-color: white;
    color: black;
}

table, th, td {
   	border: 1px solid black;
   	text-align:center;
   	padding: 15px;
   	height: 30px;
   	table-layout:fixed;
	background-color: #333333;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

